html{
    scroll-behavior: smooth;
}

a{
    color: white;
    text-decoration: none;
}

body{
    font-family: "Montserrat", sans-serif;
}

#carouselExampleFade{
    width: 100%;
}

.subtitulo{
    display: block;
    width: 100%;
    font-size: 60px;
    font-weight: bold;
    font-family: "raleway", sans-serif;
    text-align: center;
}

section{
    width: 100%;
    padding: 30px 70px;
    text-align: justify;
}

.imgsec{
    width: 100%;
}