@media (max-width: 1023px) {
    #header{
        width: 100%;
        height: 90px;
        padding: 10px 20px 10px 20px;
    }

    #quemSomos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    #nossosProjetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .item{
        width: 150px;
    }

    .itemimg{
        width: 130px;
    }
}

@media (max-width: 767px) {
    section{
        padding: 10px 50px;
    }
    .subtitulo{
        font-size: 25px;
    }

    #header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 220px;
    }

    #logo{
        width: 280px;
    }

    #barra{
        width: 100%;
        font-size: 15px;
    }

    #pontos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .botao{
        margin: 0 10px 0 10;
    }

    .item{
        width: 320px;
        margin-bottom: 50px;
    }

    .itemimg{
        width: 280px;
        margin-bottom: 20px;
    }

    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #contatos span {
        text-align: center;
    }

    footer img{
        margin-top: 25px;
        width: 300px;
        height: 305px;
    }
}