#sec3{
    background-color: rgb(247, 255, 240);
}

#pontos{
    width: 100%;
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item {
    width: 270px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemimg {
    width: 220px;
    margin-bottom: 10px;
}

.acao{
    background-color: rgb(247, 255, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#acaoSubtitulo{
    width: 75%;
}

#arquivo2{
    background-color: rgb(37, 84, 56);
    color: white;
}

.pdf{
    margin: 30px 0 20px 0;
    width: 100%;
    height: 600px;
}

#prorrogacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}